@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.Quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(177, 165, 177);
    
}


.button{
    background-color: rgb(136, 121, 121);
    border-radius: 28px;
    border: 1px solid rgb(96, 80, 100);
    display: inline-block;
    cursor: pointer;
}